
<form action="/Sprint/sort" method="get">
    <label for="ID">
        <strong>Select your project #:</strong><input type="number" id="ID" name="ID" min="1" max="100" required />
    </label>
    <button type="submit">Find it!</button>
</form>
@model Scrumptious.MvcClient.Models.SprintViewModel
<form asp-action="post" asp-controller="project" method="post">
    <label for="ID">
        <strong>Make a new sprint!</strong>
        <strong>Give me the sprint name: </strong>@Html.TextBoxFor(m => m.Name, new { @required = "required", @class = "form-control" })
        <strong>What is it about?</strong>@Html.TextBoxFor(m => m.SprintDescription, new { @required = "required", @class = "form-control" })
        <strong>What project (by its ID) does this sprint belong to?</strong>@Html.TextBoxFor(m => m.FkProjectId, new { @required = "required", @class = "form-control", @input = "number"})
    </label>
    <button type="submit">Make it!</button>
</form>
@*<h1>@ViewBag.content.Name</h1>
<h1>@ViewBag.content.SprintDescription</h1>
<h1>@ViewBag.content.Completed</h1>
<h1>@ViewBag.content.SprintId</h1>*@