<form action="/Project/sort" method="get">
    <label for="ID">
        <strong>Select your project #:</strong><input type="number" id="ID" name="ID" min="1" max="100" required />    
    </label>
    <button type="submit">Submit</button>
</form>
    <h1>@ViewBag.content.projectName</h1>
    <h1>@ViewBag.content.projectRequirements</h1>
    <h1>@ViewBag.content.active</h1>
    <h1>@ViewBag.content.projectDescription</h1>
    <h1>@ViewBag.content.projectId</h1>